<m-row stretch="5">
    <a ng-click="loadView('BaseView')" id="homeButton" class="button">Raw Feed</a>
    <a ng-click="loadView('AreaOfInterest')" id="editAreaButton" class="button">Edit Area</a>
    <a ng-click="loadView('ProductFlow')" id="editFlowButton" class="button">Edit Flow</a>
    <a ng-click="loadView('PointsOfInterest')" id="editPointsOfInterest" class="button">Edit Gates</a>
    <a ng-click="loadView('AdjustContrastView')" id="editContrastButton" class="button">Product Filter</a>
    <a ng-click="loadView('RecordVideoView')" id="recordVideoButton" class="button">Record Video</a>
</m-row>
<m-row stretch="5">
  &nbsp
</m-row>
