<div ng-controller="PointOfInterest as ctrl" style="display:none;">
	<m-row><!--
		<m-col stretch="6"> Col1</m-col>
		<m-col stretch="6">
			<m-input-spinner name="pointNumber" step="1" decimals="0" on-value-changed="ctrl.PoIChanged" >Change the amount of points</m-input-spinner>
		</m-col>
		<m-col stretch="6">
			<m-input-spinner name="switchPoints" step="1" decimals="0" on-value-changed="ctrl.switchPoints">Select point to edit</m-input-spinner>
		</m-col>
		<m-col stretch="6">
			<m-input-spinner name="xValue" step="1" decimals="0" on-value-changed="ctrl.onChangeXValue">Change the X value of the selected point</m-input-spinner>
		</m-col>
		<m-col stretch="6">
			<m-input-spinner name="yValue" step="1" decimals="0"on-value-changed="ctrl.onChangeYValue">Change the Y value of the selected point</m-input-spinner>
		</m-col>
		<m-col stretch="6">col6</m-col>-->
	<m-row>
</div>

<!--<m-window caption="Selecting Points Of Interest">

    <m-row stretch ="5"> 
	

	    <m-column stretch = "1">
		<m-button style="border-radius:5px;width:115px;padding:5px;background:orange;" path="/AreaOfInterest"     text="Select Area"></m-button>
		<m-button path="/PointOfInterest"    text="Select Point"></m-button>
		<m-button path="/ProductFlow"        text="Product flow"></m-button>
	    </m-column>

	<m-column stretch = "4">
	    <div id="canvasContainer" style="position:relative;" class="flex">
		<canvas id="baseview" style="position:relative;"></canvas>
		<canvas id="mask" style="position:absolute;left:0;top:0;"></canvas>
		<h3 id="infobox" style="color:orange;">Click and drag a point to relocate it</h3>
		<m-button id="save" text="Save" style="visibility:hidden;"></m-button>
	    </div>
	</m-column>
	<div ng-controller="PointOfInterest as ctrl">
		<m-input-spinner name="pointNumber" step="1" decimals="0" on-value-changed="ctrl.PoIChanged" >Change the amount of points</m-input-spinner>
		<m-input-spinner name="switchPoints" step="1" decimals="0" on-value-changed="ctrl.switchPoints">Select point to edit</m-input-spinner>
		<m-input-spinner name="xValue" step="1" decimals="0" on-value-changed="ctrl.onChangeXValue">Change the X value of the selected point</m-input-spinner>
		<m-input-spinner name="yValue" step="1" decimals="0"on-value-changed="ctrl.onChangeYValue">Change the Y value of the selected point</m-input-spinner>
		<!-- <m-input-spinner name="{ctrl.yValue}" step="1" decimals="0">Change the Y value of the selected point</m-input-spinner> -->

		<!--
		<m-input-spinner value="ctrl.numOfPoints" unit="" step="1" decimals="0" id="setPointNr"
	    min-value="1" max-value="12" >Select amount of points</m-input-spinner>
		<m-input-spinner ng-model="ctrl.valueModel" value="0" unit="" ng-change ="kalli()" step="1" decimals="0" id="switchPoints"
	    min-value="0" max-value="ctrl.valueModel.number">Select point to edit</m-input-spinner>

	   <m-input-spinner  value= "{{ctrl.valueModel.point.x}}" unit=" " step="1" decimals="0" id="switchX"
	    min-value="0" max-value="7000">Set point X value</m-input-spinner>
	    
	   <m-input-spinner value="ctrl.valueModel.point.y" unit=" " step="1" decimals="0" id="switchY"
	    min-value="0" max-value="7000">Set point Y value</m-input-spinner>
	</div>
    </m-row>
</m-window>

<m-nav-bar>
    <m-button back></m-button>
</m-nav-bar>-->
