<div id="productFlow" style="display:none;" class="inputTools">
    <m-row>
        <m-col stretch="3"></m-col>
        <m-col stretch="3">
        	<m-config-parameter name="flowDirection" label="Product Flow Direction" config="t-cam.0" parameter="productFlow"
        	input-type="option" options="{{flowDirections}}" on-value-changed="tellMe"></m-config-parameter>
        </m-col>
        <m-col stretch="3"></m-col>
    </m-row>
</div>
