<m-row stretch ="5"> 
    <!-- Canvas For HSV Adjustment -->
    <m-column id="hsvContainer" stretch = "4" style="display:none;margin:0;">
	<div id="canvasContainer" style="position:relative;text-align:center;" class="flex">
	  <canvas id="adjustContrast" style="border: 1px solid; top: 0;left: 0;"></canvas>
	</div>
    </m-column>
    <!-- / Canvas For HSV Adjustment -->
    <!-- Main Canvases -->
    <m-column id="mainVideoContainer" stretch = "4" style="margin:0;">
	<div id="canvasContainer" style="position:relative;text-align:center;" class="flex">
	    <canvas id="baseview" style="position:relative;"></canvas>
	    <canvas id="mask" style="position:absolute;margin-left:auto;margin-right:auto;left:0;right:0;"></canvas>
	</div>
    </m-column>
    <!-- / Main Canvases -->


    <!-- Canvases For Recording Video -->
    <div id="recordVideoContainer" style="display:none;margin:0;">
      <m-row>
	<m-column stretch="4">
	    <video id="videoPlayer" width="100%" controls="true" loop="true">
	    <source id="videoSource" src="" type="video/ogg">
		Your browser does not support the video tag.
	    </video>
	</m-column>

	<m-column stretch="4">
	    <div id="canvasContainer" class="flex">
            <div id="showWhileRecording" class="flex" style="display: none; position:absolute; top:0; left:center; color:orange;" >
              Recording...
            </div>
	    <canvas id="recordSource" style="border: 1px solid; top: 0;left: 0;width:100%;"></canvas>
            </div>
	</m-column>
      </m-row>
    </div>
    <!-- / Canvases For Recording Video -->

</m-row>
