<m-window id="tcambody" style="background:#2e3436;">
    <!-- Navigation Bar -->
    <div ng-include="'screens/PartialViews/navigationBar.html'"></div>
    <!-- / Navigation Bar -->

    <!-- Video Feed and Mask Canvas -->
    <div ng-include="'screens/PartialViews/videoDisplayArea.html'"></div>
    <!-- / Video Feed and Mask Canvas -->

    <!-- Empty row for centering tools at bottom -->
    <m-row stretch="4"></m-row>
    <!-- / Empty row for centering tools at bottom -->

    <!-- Tools For Product Flow -->
    <div ng-include="'screens/PartialViews/ProductFlow.html'"></div>
    <!-- Tools For Product Flow -->

    <!-- Tools For Gates (Points of Interest) -->
    <div ng-controller="BaseView as ctrl" style="text-align:center;display:none;" id="pointsOfInterest" class="inputTools">
	<m-row>
	  <m-col stretch="2">
	    <m-input-spinner name="pointNumber" value="ctrl.pointNumber" step="1" decimals="0" on-value-changed="ctrl.PoIChanged">Number of Gates</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="switchPoints" value="ctrl.switchPoints" step="1" decimals="0" 
                             min-value="{{ ctrl.switchPointsMinValue }}" max-value="{{ ctrl.switchPointsMaxValue }}"
                             on-value-changed="ctrl.onChangeSwitchPoints">Gate to Edit</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="xValue" value="ctrl.xValue" step="1" decimals="0" on-value-changed="ctrl.onChangeXValue">X Coordinate of Gate</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="yValue" value="ctrl.yValue" step="1" decimals="0" on-value-changed="ctrl.onChangeYValue">Y Coordinate of Gate</m-input-spinner>
	  </m-col>
	</m-row>
    </div>
    <!-- / Tools For Gates -->

    <!-- Tools For Area of Interest -->
    <div ng-controller="BaseView as ctrl" style="text-align:center;display:none;" id="areaOfInterestTools" class="inputTools">
	<m-row>
	  <m-col stretch="2">
	    <m-input-spinner name="aoiXchange" step="1" decimals="0" on-value-changed="ctrl.aoiXchanged" >AOI X</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="aoiYchange" step="1" decimals="0" on-value-changed="ctrl.aoiYchanged">AOI Y</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="aoiWidthChange" step="1" decimals="0" on-value-changed="ctrl.aoiWidthChanged">AOI Width</m-input-spinner>
	  </m-col>
	  <m-col stretch="2">
	    <m-input-spinner name="aoiHeightChange" step="1" decimals="0" on-value-changed="ctrl.aoiHeightChanged">AOI Height</m-input-spinner>
	  </m-col>
	</m-row>
    </div>
    <!-- / Tools For Area of Interest -->

    <!-- Tools For Adjusting Product Filter -->
    <div id="adjustContrastTools" style="display:none;" class="inputTools">
		<pluto-var name="integer.wsserver.0.hMin" alias="hMin" writable></pluto-var>
		<pluto-var name="integer.wsserver.0.hMax" alias="hMax" writable></pluto-var>
		<pluto-var name="integer.wsserver.0.sMin" alias="sMin" writable></pluto-var>
		<pluto-var name="integer.wsserver.0.sMax" alias="sMax" writable></pluto-var>
		<pluto-var name="integer.wsserver.0.vMin" alias="vMin" writable></pluto-var>
		<pluto-var name="integer.wsserver.0.vMax" alias="vMax" writable></pluto-var>

		<m-row>
			<m-col stretch="2">
				<m-input-spinner value="ctrl.hMax" unit=" " step="1" decimals="0"min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuehMaxChanged"help="This is a spinner with arguments: min, max, step and decimals">Set max hue</m-input-spinner>
			</m-col>
			<m-col stretch="2">
				<m-input-spinner value="ctrl.sMax" unit=" " step="1" decimals="0" min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuesMaxChanged"help="This is a spinner with arguments: min, max, step and decimals">Set max saturation</m-input-spinner>
			</m-col>
			<m-col stretch="2">
				<m-input-spinner value="ctrl.vMax" unit=" " step="1" decimals="0" min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuevMaxChanged" help="This is a spinner with arguments: min, max, step and decimals">Set max value</m-input-spinner>
			</m-col>
		</m-row>
		<m-row>
			<m-col stretch="2">
				<m-input-spinner value="ctrl.hMin" unit=" " step="1" decimals="0" min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuehMinChanged" help="This is a spinner with arguments: min, max, step and decimals">Set min hue</m-input-spinner>
			</m-col>
			<m-col stretch="2">
				 <m-input-spinner value="ctrl.sMin" unit=" " step="1" decimals="0" min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuesMinChanged" help="This is a spinner with arguments: min, max, step and decimals">Set min saturation</m-input-spinner>
			</m-col>
			<m-col stretch="2">
				<m-input-spinner value="ctrl.vMin" unit=" " step="1" decimals="0" min-value="{{ ctrl.HSVMinValue }}" max-value="{{ ctrl.HSVMaxValue }}" on-value-changed="ctrl.spinnerValuevMinChanged" help="This is a spinner with arguments: min, max, step and decimals">Set min value</m-input-spinner>
			</m-col>
		</m-row>
    </div>
    <!-- / Tools For Adjusting Product Filter -->
    

    <!-- Tools For Record Video -->

    <div id="recordVideoTools" style="display:none;" ng-controller="BaseView as ctrl" class="inputTools">
      <m-row>
      	<m-col stretch="1"></m-col>
      	<m-col stretch="1"></m-col>
		<m-col stretch="1">
		  <m-input-number name="videoLength" value="ctrl.videoLength" min-value="0" 
	                   max-value="500" on-value-changed="ctrl.videoLengthChanged">Video lenght [s]</m-input-number> 
		</m-col>
		<m-col stretch="4">
		  <a ng-click="ctrl.recordVideo()" id="recordButton" class="button" width="100" style="width:100%;">Record</a>
		</m-col>
                <!--
                <m-col stretch="3">
                    <m-input-option name="videoSelector" label="Select Video" value="selectedVideo"
                    input-type="option" options="{{videoFiles}}" on-value-changed="onVideoSelect" ></m-input-option>
                </m-col>
                -->
                <m-col stretch="3">
                    <m-input-option name="videoSelector" label="Select Video ctrl" value="ctrl.selectedVideo"
                    input-type="option" options="ctrl.videoFiles" on-value-changed="onVideoSelect" ></m-input-option>
                </m-col>            

        <m-col stretch="1"></m-col>
        <m-col stretch="1"></m-col>
      </m-row>
    </div>
</m-row>
    <!-- / Tools For Record Video-->


</m-window>

<!-- Footer -->
<div ng-include="'screens/PartialViews/footer.html'"></div>
<!-- / Footer -->
