<m-window caption="T-CAM View" style="background:#2e3436;">

<m-row stretch ="5"> 
    <div id="canvasContainer" style="position:relative;text-align:center;">
	<canvas id="baseview" style="border: 1px solid; top: 0;left: 0;"></canvas>
    </div>
</m-row>

</m-window>

<m-nav-bar>
    <m-button back></m-button>
</m-nav-bar>
